@model IEnumerable<MonitoringSystemModel.Class>
@{
    ViewBag.Title = "Home Page";
}


<hr />

<p>Список классов</p>
<table class="table">
    <tr>
        <th>
            <p>Номер класса</p>
        </th>
        <th>
            <p>Классный руководитель</p>
        </th>
    </tr>    
           @{
               foreach (var @class in Model)
               {
                <tr><td>@Html.RouteLink(@class.ClassID, "toSubjects", new { controller = "Subjects", action = "ShowSubjects", classId = @class.ClassID }) </td></tr>
               }
        }
</table>
