@model IEnumerable<MonitoringSystemModel.Subject>
@{
    ViewBag.Title = "Список предметов";
}

<h2>Список предметов</h2>
<table class="table">
    <tr>
        <th>Название предмета</th>
    </tr>
    @{
        foreach (var subjectCP in Model)
        {
            <tr>
                <td>
                    @Html.RouteLink(subjectCP.SubjectName, "toMarks",
                                 new
                                 {
                                     controller = "Subjects",
                                     action = "ShowMarks",
                                     groupId = ViewBag.GroupNumber as string,
                                     subjectId = subjectCP.SubjectID
                                 })
                </td>
            </tr>
        }
    }
</table>
